<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">
  <display-name>E-Cust</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>by.epam.authorization.controller.Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
   <servlet-name>About</servlet-name>
   <jsp-file>/WEB-INF/jsp/about.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
   <servlet-name>About</servlet-name>
   <url-pattern>/About</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>EX_Check</servlet-name>
   <jsp-file>/WEB-INF/jsp/ex_declaration_check.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
   <servlet-name>EX_Check</servlet-name>
   <url-pattern>/EX_Check</url-pattern>
  </servlet-mapping>

  <servlet>
   <servlet-name>Registration</servlet-name>
   <jsp-file>/WEB-INF/jsp/registration.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
   <servlet-name>Registration</servlet-name>
   <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>Account_recovery</servlet-name>
   <jsp-file>/WEB-INF/jsp/account_recovery.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
   <servlet-name>Account_recovery</servlet-name>
   <url-pattern>/Account_recovery</url-pattern>
  </servlet-mapping>
  
   <listener>
      <listener-class>by.epam.authorization.controller.listner.SessionCreaterListener</listener-class>
   </listener>
  
  <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.epam.authorization.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
   </filter>
   
   <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>by.epam.authorization.controller.filter.AccessFilter</filter-class>
    </filter>
	
	<filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/Controller</url-pattern>
    </filter-mapping>
</web-app>